# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# One rule set for the manager image and the Instance Manager image.
# Ignore everything by default and re-include only what the builds copy.
**

# The Go source trees are re-included by name: Podman (buildah) does not
# honour a "!**/*.go" re-include after "**".
# See https://github.com/containers/buildah/issues/6417
!cmd
!api
!internal
**/*_test.go

# Go module files
!go.mod
!go.sum

# The Instance Manager image's entrypoint
!build/instance-manager/entrypoint.sh
!build/instance-manager/broker-entrypoint.sh

# The test-only fake Instance Manager (test/fakeim/Dockerfile)
!test/fakeim
